@page
@model lrev

@{
}

<style>
    table {
        margin-top: 20px;
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #DDD;
    }

    tr:hover {
        background-color: #D6EEEE;
    }

    button {
        margin-top: 10px;
    }

    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd;
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>


<div class="btn-group">

    <button type="button" class="btn btn-primary" id="@Model.coach_id">coach1</button>
    <button type="button" class="btn btn-primary" id="@Model.coach_id">coach2</button>
    <button type="button" class="btn btn-primary" id="@Model.coach_id">coach3</button>
    <button type="button" class="btn btn-primary" id="@Model.coach_id">coach4</button>
    <button type="button" class="btn btn-primary" id="@Model.coach_id">coach5</button>
    <button type="button" class="btn btn-primary" id="@Model.coach_id">coach6</button>
    <button type="button" class="btn btn-primary" id="@Model.coach_id">coach7</button>
    <button type="button" class="btn btn-primary" id="@Model.coach_id">coach8</button>


</div>

<form method="post">
    <div class="form-group">
        <label for="rev">constructive review</label>
        <input class="form-control input-lg" id="@Model.review" name="rev" type="text">
    </div>
    <button type="button" class="btn btn-success">submit</button>
</form>